<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".presentation.oauth.OAuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/GravatarOAuth">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="${OAUTH_REDIRECT_URI_PATH}"
                    android:host="${OAUTH_REDIRECT_URI_HOST}"
                    android:scheme="${OAUTH_REDIRECT_URI_SCHEME}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
